
.card{
    height: auto;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}
.imageDiv{
    width:200px;
    height: auto;
}
.infoDiv{
    display: flex;
    flex-direction: column;
    width: 50%;

}