
.card{
    height: auto;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
    padding-top: 30px;

}
.imageDiv{
    width:200px;
    height: auto;
}
.infoDiv{
    display: flex;
    flex-direction: column;
    width: 50%;
}
