.hidden {
    display: none;
}

#measurement, #ingredient{
    list-style-type: none;
}

.titleHero{
    display: flex;
    justify-content: space-between;
}

#wallaby{
    border: coral 2px ridge;
}

#titleWallaby{
    position: relative ;
    top: 10px;
    color: coral;
    font-size: 35px;
    font-weight: bolder;
}
#subHead{
    position: relative;
    top: -45px;
}
.hero-body{
    padding-bottom: 0px;
    padding-top: 30px;
}

